@font-face {
  font-family: 'FrutigerLight';
  src: local('FrutigerLight'), url('./assets/fonts/Frutiger-Light.otf') format('otf');
}
@font-face {
  font-family: 'FrutigerBlack';
  src: local('FrutigerBlack'), url('./assets/fonts/Frutiger-Black.otf') format('otf');
}
@font-face {
  font-family: 'FrutigerBold';
  src: local('FrutigerBold'), url('./assets/fonts/Frutiger-Bold.otf') format('otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-control-next-icon{
  background-image: url('../src/assets/next.png');
  background-size: contain;
}
.carousel-control-prev-icon{
  background-image: url('../src/assets/prev.png');
  background-size: contain;
}
